# Lists
- lists are ordered sequences that can hold a variety of object types.
- they use [] brackets and commas to separate objects in the list:
    - [1, 2, 3, 4, 5]
- list support indexing and slicing. list can be nested and also have a variety of useful methods that can be called off of them

In [2]:
#creating a list of only integers
my_list = [1,2,3]

In [3]:
#list can be flexible and hold different types
my_list = ['STRING', 100.3, 4]

In [4]:
#checking how many items are in a list
len(my_list)

3

## slicing and indexing

In [6]:
#list are ordered such as strings, so the support also indexing and slicing in the same way
mylist = ['one', 'two', 'three']

In [7]:
mylist[0]

'one'

In [8]:
mylist[1:]

['two', 'three']

### concatenation

In [9]:
#you can also concatenate list together
another_list = ['four', 'five']

In [11]:
#actual concatenation
mylist + another_list

['one', 'two', 'three', 'four', 'five']

### reassignment

In [13]:
#the difference with strings is that we can edit an element od the list
new_list = ['one', 'two', 'three', 'four', 'five']

In [14]:
new_list[0] = 'ONE ALL CAPS'

In [15]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

### other operations

In [39]:
#multiplying by an integer repeats the elements of the list at the same order n-times
my_list * 2

['STRING', 100.3, 4, 'STRING', 100.3, 4]

In [40]:
my_list

['STRING', 100.3, 4]

## methods
### append method

In [18]:
#this method adds more elements to a list (at the end)
#append permanently affects the list by adding new elements
new_list.append('six')

In [17]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [19]:
new_list.append('seven')

In [20]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'six', 'seven']

### pop method

In [26]:
#removing elements from a list (in this case, the last element od the list)
new_list.pop()

'six'

In [22]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'six']

In [23]:
popped_item = new_list.pop()

In [24]:
popped_item

'six'

In [25]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [27]:
#removing an especific term of the list, by its index (by default, the value is -1)
new_list.pop(0)

'ONE ALL CAPS'

In [28]:
new_list

['two', 'three', 'four', 'five']

### sort method

In [29]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4, 1, 8, 3]

In [32]:
my_sorted_list = new_list.sort()
#it doesn't return an output but operates on the list (sort() occurs "in place")

In [31]:
new_list

['a', 'b', 'c', 'e', 'x']

In [33]:
type(my_sorted_list)
#the result cannot be reassigned, there is no actual value

NoneType

In [34]:
new_list.sort()
my_sorted_list = new_list
#this will be the right approach to it

In [35]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

### reverse method

In [37]:
#reverse flips a list. it also operates in place, it doesn't report anything
num_list.reverse()

## nesting lists
a great feature of python's data structures is that they support nesting. this means we can have data structuras within data structures. for example: a list within a list.

In [41]:
#create three new lists
list_1 = [1, 2, 3]
list_2 = [4, 5, 6]
list_3 = [7, 8, 9]

#make a list of list to form a matrix
matrix = [list_1, list_2, list_3]

In [42]:
#show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [43]:
#for grabbing index in a nested list, we must take into account that there are now two list levels
matrix[0]

[1, 2, 3]

In [45]:
#another index selects the element within the nested list
matrix[0][1]

2

## list comprehensions
python has an advanced feature called list comprehensions. they allow foe quick construction of lists. to fully understand list comprehensions, we need to understand for loops. don't worry if you don't understand now this subject, you can return later.

In [46]:
#first build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [47]:
first_col

[1, 4, 7]

the list comprehension here grabs the first element of every row in the matrix object, so it selects the first element of the three nested lists.